@import 'colors.scss';

.container {
  width: 10em;
  height: 100vh;

  justify-content: center;
  display: table;

  background-color: $dark;
  border-right: 1px solid $almostblack;
}

.open {
  width: 10em;
}

.titleContainer {
  display: table-header-group;
}

.title {
  color: white;
  font-size: 1.25em;
}

.content {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.footer {
  display: table-footer-group;
  align-self: flex-end;
  min-height: 66px;
}